<form action="" method="POST" role="form">
	<div class="form-group">
		<label>Bạn có thực sự muốn xóa sản phẩm này?</label>
		<input type="hidden" id="" name="ProID" value="{{ProID}}">	
	</div>	
	<div class="form-group">
		<a class="btn btn-outline-secondary" href="/admin/product" role="button">
			<i class="fa" aria-hidden="true"></i>
			Cancel
		</a>
		<button type="submit" class="btn btn-danger">
			<i class="fa fa-times" aria-hidden="true"></i>
			Delete
		</button>
	</div>
</form>